@font-face {
  font-family: 'RotisSansSerifStd';
  src: url('../public/assets/Fonts/RotisSansSerifStd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RotisSansSerifStd';
  src: url('../public/assets/Fonts/RotisSansSerifStd-Bold.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'RotisSansSerifStd';
  src: url('../public/assets/Fonts/RotisSansSerifStd-ExtraBold.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'RotisSansSerifStd';
  src: url('../public/assets/Fonts/RotisSansSerifStd-Light.otf')
    format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'RotisSansSerifStd';
  src: url('../public/assets/Fonts/RotisSansSerifStd-LightIt.otf')
    format('opentype');
  font-weight: 200;
  font-style: italic;
}

:root {
  --main-color: #259797;
  --main-bg-color: rgb(247, 248, 250);
  --yellow: #f0b52f;
  --main-font: 'RotisSansSerifStd', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

section {
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 20vw;
  height: 4px;
  background-color: var(--yellow);
}

.top-nav {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  z-index: 100;
}

.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1750px;
  padding: 0 3rem;
}

.top-nav .social-media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-nav .social-media span {
  text-transform: none;
  font-weight: 200;
}

.top-nav .social-media a {
  height: 0.8rem;
  width: 0.8rem;
  padding: 0.1rem;
  display: flex;
}

.top-nav .lang {
  background-color: #4eacac;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  user-select: none;
}

.top-nav .lang:hover {
  background-color: #3c8f8f;
}

nav {
  position: fixed;
  width: 100%;
  top: 30px;
  background-color: white;
  z-index: 100;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 2rem;
}

nav .logo {
  margin-left: 5rem;
  transition: all 0.2s ease;
}

nav .logo img {
  height: 4rem;
}

nav .menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
  width: 80%;
}

nav .mobile-nav-menu {
  display: none;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  width: 3.8rem;
  height: 3.8rem;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 1.2rem;
  width: 100%;
  list-style: none;
}

nav ul li {
  color: var(--main-color);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: end;
  transition: background-color 0.2s ease;
}

nav ul li:hover {
  background-color: var(--main-bg-color);
}

nav ul .drop-down-menu {
  position: relative;
  white-space: nowrap;
}

nav ul .drop-down-menu::after {
  content: '^';
  display: inline;
  width: 1rem;
  font-size: 2rem;
  transform: rotate(180deg);
  color: var(--main-color);
  height: 0;
}

.home {
  color: var(--yellow);
}

.search {
  color: white;
  background-color: var(--yellow);
  padding: 0.8rem 0.5rem;
  font-size: 0.6rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search:hover {
  background-color: #e0a21f;
}

.search span {
  display: block;
}

header {
  background-image: url('../public/assets/Images/Intro/image01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 70vh;
}

header .container {
  padding: 5rem 5rem;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

header h1 span {
  display: block;
  font-size: 2.8rem;
  font-weight: 200;
}

.latest-news {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.latest-news .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.latest-news-container,
.research .container,
.facilities .container,
.publications .container,
.stories .container {
  padding: 4rem;
}

section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

section .header h2 span {
  font-weight: normal;
  display: block;
  font-size: 1.8rem;
}

section .header button {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

section .header button:hover {
  background-color: white;
}

.latest-news-container .content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.latest-news-container .content .news-item {
  border-right: 1px solid rgba(247, 248, 250, 0.5);
  padding-right: 2rem;
}

.latest-news-container .content .news-item:last-child {
  border-right: none;
  padding-right: 0;
}

.latest-news-container .content .text {
  padding-left: 0.5rem;
}

.latest-news-container .content .text h3 {
  margin: 1.2rem 0;
}

.content .text .type {
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 1rem;
}

.content .text .date {
  font-style: italic;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.content .text .date span {
  font-size: 1.4rem;
}

.latest-news-container .content .text .type {
  opacity: 0.5;
}

.latest-news-container .content .text .date {
  display: flex;
}

.latest-news .covid-19 {
  background-image: url('../public/assets/Images/image02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem;
}

.latest-news .covid-19 h4 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.research {
  color: var(--main-color);
}

.research .header button {
  background-color: var(--yellow);
  color: var(--main-bg-color);
}

.research .header button:hover {
  background-color: #e0a21f;
}

.research .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.research .content .research-item {
  background-color: white;
  display: flex;
}

.research .content .research-item .image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.research .content .research-item .text {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.research .content .research-item .text .date span {
  color: var(--yellow);
}

.facilities {
  background-image: url('../public/assets/Images/bg.jpg');
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--main-bg-color);
}

.facilities .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.facilities .content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.facilities .content .text p {
  font-size: 1.2rem;
  text-transform: none;
  line-height: 1.5;
}

.facilities .content button {
  background-color: var(--yellow);
  color: var(--main-bg-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.facilities .content button:hover {
  background-color: #e0a21f;
}

.facilities .content .items {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.facilities .content .items .item {
  font-size: 0.8rem;
  cursor: pointer;
  width: 100%;
}

.facilities .content .items .item img {
  height: 14rem;
}

.facilities .content .items .item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.facilities .content .items .item h3::before {
  content: '▶ ';
  font-size: small;
  padding: 0.3rem;
  color: var(--yellow);
}

.publications {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.publications .header button {
  background-color: var(--yellow);
  color: var(--main-bg-color);
}

.publications .header button:hover {
  background-color: #e0a21f;
}

.publications .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.publications .content .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--main-color);
  padding-right: 1rem;
}

.publications .content .item:last-child {
  border-right: none;
  padding-right: 0;
}

.publications .content .item .text {
  padding: 1rem;
}

.publications .content .item .text h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.publications .content .item .text .date span {
  color: var(--yellow);
}

.stories {
  background-image: url('../public/assets/Images/Bio/Bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--main-bg-color);
}

.stories .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stories .header button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: var(--yellow);
  color: var(--main-bg-color);
}

.stories .content .item .text {
  padding: 2rem 1.5rem;
  background-color: rgba(247, 248, 250, 0.2);
  border-radius: 0.3rem;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
}

.stories .content .item .text::after {
  content: '▶';
  position: absolute;
  bottom: 0;
  left: 2rem;
  transform: translateY(70%) rotate(90deg);
  color: rgba(247, 248, 250, 0.2);
}

.stories .content .item .student {
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stories .content .item .student h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.stories .content .item .student p {
  font-style: italic;
}

.stories .content .item .student img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stories .header button:hover {
  background-color: #e0a21f;
}

footer .container {
  padding: 1rem;
}

footer h4 {
  text-align: center;
}

.mobile-nav {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}

.mobile-nav .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20vh;
  height: 100%;
}

.mobile-nav .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  font-size: 1.8rem;
  width: 100%;
}

.mobile-nav .menu ul li {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 1600px) {
  nav .logo {
    margin-left: 1rem;
  }
}

@media (max-width: 1050px) {
  nav .menu ul {
    display: none;
  }

  nav .menu {
    gap: 0;
  }

  nav .mobile-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav .logo img {
    height: 3rem;
  }

  .latest-news .container {
    grid-template-columns: 1fr;
  }

  .research .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .facilities .content {
    grid-template-columns: 1fr;
  }

  .facilities .content .text p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .publications .content {
    grid-template-columns: 1fr 1fr;
  }

  .publications .content .item {
    border-right: none;
    padding-right: 0;
    background-color: white;
  }
}

@media (max-width: 768px) {
  .latest-news-container .content {
    flex-direction: column;
  }

  .latest-news-container .content .news-item {
    border: none;
    padding-right: 0;
    border-bottom: 1px solid rgba(247, 248, 250, 0.5);
    padding-bottom: 2rem;
  }

  .latest-news-container .content .news-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .research .header,
  .publications .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header button {
    margin-top: 1rem;
  }

  .research .content .research-item {
    flex-direction: column;
  }

  .research .content .research-item .image {
    width: 100%;
    height: 30vh;
  }

  .research .content .research-item .text {
    width: 100%;
  }

  .research .content .research-item .text h3 {
    margin-bottom: 1rem;
  }

  .facilities .content .items {
    flex-direction: column;
  }

  .publications .content {
    grid-template-columns: 1fr;
  }

  .stories .content {
    grid-template-columns: 1fr;
  }
}
